extends ../../layouts/layout-supervisor

block content
	.well.well-lg
		.row
			blockquote.col-sm-4
				p Total Students
				footer 5000
			blockquote.col-sm-4
				p Assigned Students
				footer 15
			blockquote.col-sm-4
				p Approved Projects
				footer 40
	.well
		.row
			Charts
	.well
		.row
			.col-md-8
				h1 Recent Activities
				ul
					li
						| Approved Project: 
						span Management System
					li
						| Assigned Student: 
						span Kwasi(10204958)