extends ../../layouts/layout-admin

block content
	.well.well-lg
		.row
			blockquote.col-sm-4
				p Total Supervisors
				footer 5000
			blockquote.col-sm-4
				p Assigned Students
				footer 15
			blockquote.col-sm-4
				p Assigned Students
				footer 40
	.well
		.row
			p Charts
	.well
		.row
			.col-md-8
				h1 Recent Activities
				ul
					li
						| Approved Project: 
						span Management System
					li
						| Assigned Student: 
						span Kwasi(10204958)