extends ../../layouts/layout-admin

block content
    .panel.panel-default
        .panel-heading Supervisors
        .panel-body
            form.form-inline
                .form-group
                    input.form-control(type='text', placeholder='Search')
                |  
                button.btn.btn-default(type='submit') Submit
        .table-responsive
            table.table.table-hover.table-striped
                thead
                    tr
                        th Full Name
                        th Title(s)
                        th Email
                        th No. of Students
                tbody
                    each supervisor in supervisors
                        tr
                            td= supervisor.name
                            td Prof
                            td= supervisor.email
                            td 50